In [11]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import sklearn as sk 
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [12]:
titanic = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [13]:
df =titanic

In [14]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [15]:
df = df.drop(columns=['Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'])

In [16]:
df =df.set_index('PassengerId')

In [17]:
df =pd.get_dummies(df, columns =['Pclass'], prefix= 'Class')

In [18]:
df['Sex'] = [1 if sex == 'male' else 0 for sex in df['Sex']]

In [30]:
df

             Survived  Sex   Age     Fare  Class_1  Class_2  Class_3
PassengerId
1                   0    1  22.0   7.2500        0        0        1
2                   1    0  38.0  71.2833        1        0        0
3                   1    0  26.0   7.9250        0        0        1
4                   1    0  35.0  53.1000        1        0        0
5                   0    1  35.0   8.0500        0        0        1
...               ...  ...   ...      ...      ...      ...      ...
887                 0    1  27.0  13.0000        0        1        0
888                 1    0  19.0  30.0000        1        0        0
889                 0    0   NaN  23.4500        0        0        1
890                 1    1  26.0  30.0000        1        0        0
891                 0    1  32.0   7.7500        0        0        1

[891 rows x 7 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       714 non-null    float64
 3   Fare      891 non-null    float64
 4   Class_1   891 non-null    uint8
 5   Class_2   891 non-null    uint8
 6   Class_3   891 non-null    uint8
dtypes: float64(2), int64(2), uint8(3)
memory usage: 37.4 KB

In [20]:
df = df.dropna()

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Sex       714 non-null    int64
 2   Age       714 non-null    float64
 3   Fare      714 non-null    float64
 4   Class_1   714 non-null    uint8
 5   Class_2   714 non-null    uint8
 6   Class_3   714 non-null    uint8
dtypes: float64(2), int64(2), uint8(3)
memory usage: 30.0 KB

In [24]:
# we would like to seperate X from Y 
Y =  df['Survived']
X = df.drop(columns=['Survived'])

In [26]:
ms_scaler = preprocessing.MinMaxScaler()
X_minmax = ms_scaler.fit_transform(X)
X_minmax = pd.DataFrame(data = X_minmax, columns= X.columns)

In [27]:
X_minmax

     Sex       Age      Fare  Class_1  Class_2  Class_3
0    1.0  0.271174  0.014151      0.0      0.0      1.0
1    0.0  0.472229  0.139136      1.0      0.0      0.0
2    0.0  0.321438  0.015469      0.0      0.0      1.0
3    0.0  0.434531  0.103644      1.0      0.0      0.0
4    1.0  0.434531  0.015713      0.0      0.0      1.0
..   ...       ...       ...      ...      ...      ...
709  0.0  0.484795  0.056848      0.0      0.0      1.0
710  1.0  0.334004  0.025374      0.0      1.0      0.0
711  0.0  0.233476  0.058556      1.0      0.0      0.0
712  1.0  0.321438  0.058556      1.0      0.0      0.0
713  1.0  0.396833  0.015127      0.0      0.0      1.0

[714 rows x 6 columns]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [31]:
X_train

             Sex   Age      Fare  Class_1  Class_2  Class_3
PassengerId
272            1  25.0    0.0000        0        0        1
854            0  16.0   39.4000        1        0        0
697            1  44.0    8.0500        0        0        1
519            0  36.0   26.0000        0        1        0
610            0  40.0  153.4625        1        0        0
...          ...   ...       ...      ...      ...      ...
93             1  46.0   61.1750        1        0        0
135            1  25.0   13.0000        0        1        0
338            0  41.0  134.5000        1        0        0
549            1  33.0   20.5250        0        0        1
131            1  33.0    7.8958        0        0        1

[478 rows x 6 columns]

In [92]:
X_test

             Sex   Age     Fare  Class_1  Class_2  Class_3
PassengerId
150            1  42.0  13.0000        0        1        0
408            1   3.0  18.7500        0        1        0
54             0  29.0  26.0000        0        1        0
370            0  24.0  69.3000        1        0        0
819            1  43.0   6.4500        0        0        1
...          ...   ...      ...      ...      ...      ...
692            0   4.0  13.4167        0        0        1
221            1  16.0   8.0500        0        0        1
867            0  27.0  13.8583        0        1        0
588            1  60.0  79.2000        1        0        0
107            0  21.0   7.6500        0        0        1

[236 rows x 6 columns]

In [32]:
y_train

PassengerId
272    1
854    1
697    0
519    1
610    1
      ..
93     0
135    0
338    1
549    0
131    0
Name: Survived, Length: 478, dtype: int64

In [84]:
y_test

PassengerId
150    0
408    1
54     1
370    1
819    0
      ..
692    1
221    1
867    1
588    1
107    1
Name: Survived, Length: 236, dtype: int64

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [34]:
lr =LinearRegression()
knn=KNeighborsClassifier()
gnb= GaussianNB()
svm = SVC()

In [35]:
lr.fit(X_train, y_train)

LinearRegression()

In [36]:
lr_prediction = lr.predict(X_test)
lr_prediction  = [1 if num >= 0.5 else 0 for num in lr_prediction]

In [37]:
knn.fit(X_train, y_train)
gnb.fit(X_train, y_train)
svm.fit(X_train, y_train)

SVC()

In [38]:
prdc_knn = knn.predict(X_test)
prdc_gnb = gnb.predict(X_test)
prdc_svm = svm.predict(X_test)

In [39]:
prdc_knn

array([1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0], dtype=int64)

In [103]:
lr_prediction

[0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1]

In [40]:
prediction = pd.DataFrame({"LR": lr_prediction, "KNN": prdc_knn,"GNB":prdc_gnb, "SVM": prdc_svm, "Real": y_test})

In [41]:
# predictionLR

NameError: name 'predictionLR' is not defined

In [42]:
from sklearn.metrics import accuracy_score

In [43]:
knn_O = accuracy_score(prdc_knn, y_test)
svm_O = accuracy_score(prdc_svm, y_test)
gnb_O = accuracy_score(prdc_gnb, y_test)

In [44]:
all_ac_rate = knn_O, svm_O, gnb_O

In [45]:
np.max(all_ac_rate)

0.7796610169491526

In [46]:
from sklearn.model_selection import GridSearchCV

In [49]:

hyperparameters = {'C':[3, 5 , 7 , 9 , 19 , 21, 31]}


gs = GridSearchCV(knn, hyperparameters, cv=5, n_jobs=-1,  scoring = 'accuracy')

In [50]:
gs.fit(X_train, y_train)

ValueError: Invalid parameter C for estimator KNeighborsClassifier(). Check the list of available parameters with `estimator.get_params().keys()`.

In [ ]:
gs.cv_results_